@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--color-prymary);
}

.Parte_superior{
    margin: 5vh;
    margin-left: 20vh;
}

.tittle h1{
    font-family: 'Poppins-bold';
    font-size: 9.9vh;
    color: var(--color-secundario)
}

.texto p {
    font-family: 'Poppins-regular';
    font-size: 2.8vh;
    color: var(--color-secundario);
    margin-bottom: 15px;
}

.Explore a {
    text-decoration: none;
    color: var(--color-tercero);
    font-family: 'Poppins-regular';
}

.Explore {
    background: var(--color-secundario);
    height: 5vh;
    width: 15vh;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 15px;
}

.Container {
    position: relative;
}

.Image_Left_Down {
    position: absolute;
    bottom: 0;
    left: 5vh;
    z-index: -1;
}

.Image_Right_Up {
    position: absolute;
    top: 0;
    right: 5vh;
    z-index: -1;
}

.Image_Left_Down {
    height: 50vh;
    width: 45vh;
}

.Parte_inferior {
    background: #fff;
    border-radius: 10px;
    padding: 5vh;
    margin: 40vh;
    margin-left: 90vh;
}

.Texto1 {
    font-family: 'Poppins-regular';
    color: var(--color-secundario)
}

.numero {
    font-family: 'Poppins-semibold';
    color: var(--color-secundario);
}

.linea {
    color: var(--color-secundario);
    width: 28px;
}