@import url(variables.css);
*{
    padding: 0;
    margin: 2vh;
    margin-left: 2vh;
    box-sizing: border-box;
}

body{
    background: var(--color-prymary);

}

h1{
    font-size: 4vh;
    text-align: left;
}


.Explore {
    border-radius: 20%;
    color: var(--color-prymary);
    background: var(--color-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 15vh;
    margin-left: 9vh;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40vh;
    width: 100%;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.images .superior_izquierda,
.images .superior_derecha {
    display: flex;
    width: 10%; 
    height: 50vh;
    flex-direction: column;
    align-items: center;
}

.images .superior_izquierda {
    padding-bottom: 13vh;
    width: 50vh;
}

.images .superior_derecha {
    padding-top: 9vh;
    width: 50vh;
}

.Numeros_encimeros {
    font-size: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    color: #808080;
    
}

.Imagenes {
    display: flex;
    justify-content: space-around;
    width: 100%;

}