@import url(variables.css);
*{
    padding: 0;
    margin: 1vh;
    margin-left: 1vh;
    box-sizing: border-box;
}

body{
    background: var(--color-prymary);
    font: var(--Tipo-letra-Regular);
}

h1{
    font-size: 7vh;
    text-align: left;
}

.Numeros_encimeros {
    font-size: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    color: #808080;
}

.Texto {
    font-size: 4vh;
    text-align: justify;
    display: flex;
    flex-direction: row;
}


.Texto .c{
    justify-content: flex-start;
}

.Texto .a{
    
    justify-content: center;
}
.Texto .b {
    
    justify-content: flex-end;
}

.Imagenes_internas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}